@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
}

#loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  #loginContainer {
    width: 350px;
    height: 450px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    .logo {
      font-family: cursive, 'Lobster';
      font-size: 50px;
      font-weight: bold;
      margin-top: 60px;
    }

    #loginForm {
      margin-top: 50px;

      .valid {
        border: 1px solid #ddd;
      }

      .unvalid {
        border: 1px solid red;
      }

      & input {
        display: block;
        width: 268px;
        height: 38px;
        padding: 20px 0px 7px 8px;
        margin-bottom: 10px;
        background-color: #fafafa;
        border-radius: 5px;
      }

      & input:focus {
        outline: none;
      }

      & button {
        width: 270px;
        height: 35px;
        border: none;
        border-radius: 10px;
        color: white;
        margin-top: 12px;
        cursor: pointer;
      }

      .emptyBtn {
        background-color: #c0dffd;
      }

      .fullBtn {
        background-color: #0095f6;
      }
    }

    .error {
      margin-top: 40px;
      color: rgb(210, 59, 59);
      font-weight: 500;
      height: 18px;
    }

    .forgot {
      margin-top: 45px;
      color: gray;
    }
  }
}
